<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    
	<!-- See: https://github.com/nlog/NLog/wiki/Configuration-file -->

    <extensions>
		<add assembly="NLog.Targets.Telegram" /> 
	</extensions>

	<targets>
        
        <target xsi:type="Telegram" name="MyTelegramChannel" 
            layout="*${level:uppercase=true}* @ ${logger}${newline}${message}${newline}```${exception:format=toString,Data:maxInnerExceptionLevel=10}```"
            botToken="xxxxx:xxxxxxxxxxxxxx"
            chatId="xxxxxxx"
            parseMode="MARKDOWN"
        />
        
	</targets>
    
	<rules>                
        <logger name="*" minlevel="Trace" writeTo="MyTelegramChannel" />        
	</rules>
  
</nlog>